@model MVT.Web.Areas.Dashboard.ViewModels.DashboardViewModel
<div style="background-color:darkcyan;height:700px">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;border:2px solid gray; background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Categories</h5>
                        <h2 style="padding-left:80px;">@Model.TotalCategories</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border:2px solid gray;background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Products</h5>
                        <h2 style="padding-left:80px;">@Model.TotalProducts</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border:2px solid gray;background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Orders</h5>
                        <h2 style="padding-left:80px;">@Model.TotalCategories</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:50px;">
        <div class="row">
            <div class="col-sm" ">
                <div class="card" style="width: 18rem;border:2px solid gray; background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Users</h5>
                        <h2 style="padding-left:80px;">@Model.TotalUsers</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border:2px solid gray;background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Roles</h5>
                        <h2 style="padding-left:80px;">@Model.TotalRoles</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;border:2px solid gray;background-color:darksalmon">

                    <div class="card-body">
                        <h5 class="card-title" style="padding-left:20px;">Total Contacts</h5>
                        <h2 style="padding-left:80px;">@Model.TotalContacts</h2>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


